.container {
  min-height: calc(93vh - 5rem);
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: center;
}

.divBar{
  text-align-last: center;
  text-align: center;
  outline: none;
  background-color:white;
  margin-top: 10px;
  width: 150px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #83ac7bfb;
}

.linkCard {
  text-decoration: none;
  color: black;
  display: flex;
  flex-wrap: wrap;
}
.pagination{
  bottom: 0;
  justify-content: center;
  padding-top: 7vh;
  display: flex;
  flex-wrap: wrap;
}