.detail {
    background-position-x: center;
    min-height: calc(96vh - 5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flagDiv {
    background-position-x: center;
    margin-top: 45px;
    width: 15vw;
}
.flag {
    border-radius: 10px;
    background-position-x: center;
    width: 20vw;   
    margin-left: -40px;
}

.p{
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #83ac7bfb;
}

.activities{

    justify-content: center;
    margin-left: -23vw;
    width: 60vw;
    display: flex;
}

.divActivity {
    margin: 8px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #83ac7bfb;
    width: 150px;
    border-style: ridge;
}