.landing {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url(../img/mundo.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-position-x: center;
    background-position-y: center;
}

.button{
    text-decoration: none;
}