.div_container {
    min-height: calc(94vh - 5rem);
}

.input {
    outline: none;
    background-color:white;
    text-align: center;
    margin: 10px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #83ac7bfb;
}

.code {
    margin: 10px;
}

.botonX {
    margin: 4px;
    border-radius: 15px;
}

.error {
    background-position-x: center;
    color: red;
    font-size: 15px;
}

.inputC {
    margin: 10px; 
}

.btn {
    cursor:pointer;
}